{% extends 'base.html' %}

{% block title %}
  About us
{% endblock %}

{% block content %}
  <div class="row mt-4">
    <div class="col my-4">
      <div class="p-4 bg-light rounded">
        <h1>About us</h1>
        <p>Welcome to E-Buy – Where Shopping Meets Convenience!</p>
        <p>At E-Buy we're thrilled to showcase a demonstration of a user-friendly, innovative online shopping experience. Our goal is to illustrate the potential and ease of navigating a virtual marketplace from the comfort of your home. Here at the demo site, we aim to provide you with a glimpse into the possibilities of a fully functional, intuitive, and secure online shopping platform.</p>
        <p>We've created this demonstration to showcase the various features and functionalities you can expect from an actual e-commerce site. While this is a demonstration, our commitment to providing an exceptional shopping experience remains paramount. Explore, add items to your cart, experience the checkout process, and get a feel for the seamless nature of our website design.</p>
        <p>Thank you for visiting E-Buy. Enjoy your virtual shopping journey, and remember, this is just a sneak peek into the world of online shopping possibilities.</p>
      </div>
    </div>
  </div>
{% endblock %}
